@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

.slick-slider {
    padding: 0px 20px;
}
.slick-prev:before, .slick-next:before {
    font-size: 18px; 
    color: #007bff; 
    background-color: #007bff; 
    border: 1px solid #007bff; 
    padding: 2px;
    border-radius: 5px; 
    cursor: pointer; 
  }
  
.slick-arrow:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}


html,body{
    height:100%;
    width:100%;
    font-size:100%;
    line-height: 1;
    font-size:14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    display: flex;
    flex-direction: column;
}


@layer components {
  .max-container {
    max-width: 1440px;
    padding:0px 15px ;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column; 
}

.card{
    width: fit-content;
    border-radius: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding: 0.5rem;
}
.label {
    margin-bottom: 0.125rem;
    width: 100%;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    --tw-text-opacity: 1;
    color: rgb(63 63 70/var(--tw-text-opacity));
}
.input {
    min-width: 0;
    flex: 1 1 0%;
    background-color: transparent;
    padding: 0.5rem 0 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.buttonBg{
    --tw-bg-opacity: 1;
    background-color: rgb(83 120 244/var(--tw-bg-opacity));
}
.buttonText{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.inlineLabel{
    z-index: 20;
    background-color: hsla(240,5%,84%,.5);
    padding: 0.75rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(113 113 122/var(--tw-text-opacity));
}

.inputContainer{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    border-radius: 0.75rem;
    background-color: hsla(240,6%,90%,.8);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}


.inputRow{
    min-width: 0;
    align-items: stretch;
}


.from-warn-2 {
    --tw-gradient-from: #ffdbae var(--tw-gradient-from-position)!important;
    --tw-gradient-to: rgba(255,219,174,0) var(--tw-gradient-to-position)!important;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)!important;
}

.to-primary-3 {
    --tw-gradient-to: #3b66f2 var(--tw-gradient-to-position)!important;
}
.bg-gradient-to-tr {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))!important;
}
.bg-clip-text {
    -webkit-background-clip: text!important;
    background-clip: text!important;
}

.card-header-animation {
    animation: gradientMove 28s ease infinite;
    background: linear-gradient(90deg,#6989f5,#f5ae53,#ec658e,#6989f5);
    color: transparent;
}
.inputWrapper{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    overflow: hidden;
    border-radius: 0.75rem;
    background-color: hsla(240,6%,90%,.8);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.floatingLabel{
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    cursor: text;
    padding: 0.5rem 0.75rem;
    font-size: .875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(161 161 170/var(--tw-text-opacity));
}
.journey-card_secondary01 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 238 217/var(--tw-bg-opacity)); 
}
.journey-card_main01 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 174 83/var(--tw-bg-opacity)); 
}
.journey-card_secondary02 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 231 238/var(--tw-bg-opacity));

}
.journey-card_main02 {
    --tw-bg-opacity: 1;
    background-color: rgb(236 101 142/var(--tw-bg-opacity));
}
.journey-card_main03 {
    --tw-bg-opacity: 1;
    background-color: rgb(13 173 103/var(--tw-bg-opacity));
}
.journey-card_secondary03 {
    --tw-bg-opacity: 1;
    background-color: rgb(232 247 241/var(--tw-bg-opacity));
}
.journey-card_secondary04 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 238 254/var(--tw-bg-opacity));
}
.journey-card_main04{
    --tw-bg-opacity: 1;
    background-color: rgb(83 120 244/var(--tw-bg-opacity));
}
.journey-card_secondary05 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 238 244/var(--tw-bg-opacity));
}
.journey-card_main05 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175/var(--tw-bg-opacity));
}
.bg-warn-1 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(255 238 217/var(--tw-bg-opacity))!important;
}
.bg-warn-3 {
        --tw-bg-opacity: 1!important;
    background-color: rgb(245 174 83/var(--tw-bg-opacity))!important;
}

.bg-error-1 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(255 231 238/var(--tw-bg-opacity))!important;
}
.bg-error-2 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(236 101 142/var(--tw-bg-opacity))!important;
}

.bg-success-1 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(232 247 241/var(--tw-bg-opacity))!important;
}
.bg-success-2 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(13 173 103/var(--tw-bg-opacity))!important;
}

.bg-primary-2 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(83 120 244/var(--tw-bg-opacity))!important
}
.bg-secondary-2 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(234 238 254/var(--tw-bg-opacity))!important;
}
.bg-primary-3 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(59 102 242/var(--tw-bg-opacity))!important;
}
.border-primary-3 {
    --tw-border-opacity: 1!important;
    border-color: rgb(59 102 242/var(--tw-border-opacity))!important;
}
.bg-gradient-to-tr {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))!important;
}
.from-primary-3 {
    --tw-gradient-from: #3b66f2 var(--tw-gradient-from-position)!important;
    --tw-gradient-to: rgba(59,102,242,0) var(--tw-gradient-to-position)!important;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)!important;
}
.activeLinkBg{
    background-color: rgba(59,102,242,.2)!important;
}


.link{
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    font-weight: 500!important;
}
.activeLink{
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    background-color: rgba(59,102,242,.2)!important;
    font-weight: 500!important;
    border-radius: 0.5rem!important
}
.menu-body{
    height: 83.333333%;
    width: 83.333333%;
    transform-origin: top right;
    border-radius: 0.75rem;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(59 102 242/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}
.menu-btn{
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(83 120 244/var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(83 120 244/var(--tw-text-opacity));
}
.navLink{
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
}
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; 
  }
  
  .menu-overlay.visible {
    opacity: 1; 
    pointer-events: auto; 
  }
  
  
}

@layer utilities {
 
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .text-d{
    @apply text-lg text-slate-600 leading-normal;
  }

  
}

