@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

html,body{
    height:100%;
    width:100%;
    font-size:100%;
    line-height: 1;
    font-size:14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    display: flex;
    flex-direction: column;
}


@layer components {
  .max-container {
    max-width: 1440px;
    padding:0px 15px ;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column; 
}

.card{
    width: fit-content;
    border-radius: 0.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding: 0.5rem;
}

.journey-card_secondary01 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 238 217/var(--tw-bg-opacity)); 
}
.journey-card_main01 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 174 83/var(--tw-bg-opacity)); 
}
.journey-card_secondary02 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 231 238/var(--tw-bg-opacity));

}
.journey-card_main02 {
    --tw-bg-opacity: 1;
    background-color: rgb(236 101 142/var(--tw-bg-opacity));
}
.journey-card_main03 {
    --tw-bg-opacity: 1;
    background-color: rgb(13 173 103/var(--tw-bg-opacity));
}
.journey-card_secondary03 {
    --tw-bg-opacity: 1;
    background-color: rgb(232 247 241/var(--tw-bg-opacity));
}
.journey-card_secondary04 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 238 254/var(--tw-bg-opacity));
}
.journey-card_main04{
    --tw-bg-opacity: 1;
    background-color: rgb(83 120 244/var(--tw-bg-opacity));
}
.journey-card_secondary05 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 238 244/var(--tw-bg-opacity));
}
.journey-card_main05 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175/var(--tw-bg-opacity));
}
.bg-warn-1 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(255 238 217/var(--tw-bg-opacity))!important;
}
.bg-warn-3 {
        --tw-bg-opacity: 1!important;
    background-color: rgb(245 174 83/var(--tw-bg-opacity))!important;
}

.bg-error-1 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(255 231 238/var(--tw-bg-opacity))!important;
}
.bg-error-2 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(236 101 142/var(--tw-bg-opacity))!important;
}

.bg-success-1 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(232 247 241/var(--tw-bg-opacity))!important;
}
.bg-success-2 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(13 173 103/var(--tw-bg-opacity))!important;
}

.bg-primary-2 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(83 120 244/var(--tw-bg-opacity))!important
}
.bg-secondary-2 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(234 238 254/var(--tw-bg-opacity))!important;
}
.bg-primary-3 {
    --tw-bg-opacity: 1!important;
    background-color: rgb(59 102 242/var(--tw-bg-opacity))!important;
}
.border-primary-3 {
    --tw-border-opacity: 1!important;
    border-color: rgb(59 102 242/var(--tw-border-opacity))!important;
}
.bg-gradient-to-tr {
    background-image: linear-gradient(to top right,var(--tw-gradient-stops))!important;
}
.from-primary-3 {
    --tw-gradient-from: #3b66f2 var(--tw-gradient-from-position)!important;
    --tw-gradient-to: rgba(59,102,242,0) var(--tw-gradient-to-position)!important;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)!important;
}
}
@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .text-d{
    @apply text-lg text-slate-600 leading-normal;
  }

  
}

